@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@font-face {
    font-family: 'chunkfive';
    src: url('/cf-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@layer components {
  .chunky {
    font-family: 'chunkfive', system-ui, sans-serif;
  }
}

code::before, code::after {
  content: '';
}
p::before, p::after {
  content: '';
}
