---
import { Image } from 'astro:assets';
import { getCollection, getEntry, render } from "astro:content";

import Layout from '../layouts/Layout.astro';
import archiveCat from '../../public/kittybookshelf.jpg';

const posts = await getCollection('blog');
posts.sort((a, b) => b.data.pubDate - a.data.pubDate);
const title = "psftw.com: Archive";
---

<Layout title={title}>
<Image src={archiveCat} alt="A cat in front of a bookshelf." />
<h3>Archive</h3>
<ul>
  {posts.map(post => (
  <li>{post.data.pubDate.toISOString().split('T')[0]} <a href={`/blog/${post.id}`}>{post.data.title}</a></li>
  ))}
</ul>
</Layout>
