---
import { persistentTheme, toggleDarkMode } from '../stores/persistentDarkMode';
---
<label for="DarkMode" class="relative float-right inline-block ml-4 h-6 w-8 cursor-pointer rounded-full bg-gray-400 transition [-webkit-tap-highlight-color:_transparent] has-[:checked]:bg-yellow-300">
  <input type="checkbox" id="DarkMode"
    class="peer sr-only [&:checked_+_span_svg[data-sun-icon]]:block [&:checked_+_span_svg[data-moon-icon]]:hidden"
    checked={persistentTheme.get() !== null ? (persistentTheme.get() ? "" : "dark") : ""}
  />
  <span class="absolute inset-y-0 start-0 z-10 m-1 inline-flex size-4 items-center justify-center rounded-full bg-purple-300 transition-all peer-checked:start-2 peer-checked:bg-yellow-100">
    <svg data-moon-icon xmlns="http://www.w3.org/2000/svg" class="size-2" viewBox="0 0 24 24" fill="none" >
      <path d="M13 22C17.5228 22 22 17.5228 22 12C22 11.5373 21.3065 11.4608 21.0672 11.8568C19.9289 13.7406 17.8615 15 15.5 15C11.9101 15 9 12.0899 9 8.5C9 6.13845 10.2594 4.07105 12.1432 2.93276C12.5392 2.69347 12.4627 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" fill="#1C274C"/>
    </svg>
    <svg data-sun-icon xmlns="http://www.w3.org/2000/svg" class="hidden size-2" viewBox="0 0 16 16" fill="currentColor">
      <path d="M7 3V0H9V3H7Z" fill="#000000"/>
      <path d="M9 13V16H7V13H9Z" fill="#000000"/>
      <path d="M11 8C11 9.65685 9.65685 11 8 11C6.34315 11 5 9.65685 5 8C5 6.34315 6.34315 5 8 5C9.65685 5 11 6.34315 11 8Z" fill="#000000"/>
      <path d="M0 9H3V7H0V9Z" fill="#000000"/>
      <path d="M16 7H13V9H16V7Z" fill="#000000"/>
      <path d="M3.75735 5.17157L1.63603 3.05025L3.05025 1.63603L5.17157 3.75735L3.75735 5.17157Z" fill="#000000"/>
      <path d="M12.2426 10.8284L14.364 12.9497L12.9497 14.364L10.8284 12.2426L12.2426 10.8284Z" fill="#000000"/>
      <path d="M3.05025 14.364L5.17157 12.2426L3.75735 10.8284L1.63603 12.9498L3.05025 14.364Z" fill="#000000"/>
      <path d="M12.9497 1.63604L10.8284 3.75736L12.2426 5.17158L14.364 3.05026L12.9497 1.63604Z" fill="#000000"/>
    </svg>
  </span>
</label>
<script>
  import { toggleDarkMode, persistentTheme } from '../stores/persistentDarkMode';

  const userSystemDark = window.matchMedia("(prefers-color-scheme: dark)").matches;
  const userPreferDark = persistentTheme.get();

  if (userPreferDark == null) {
    persistentTheme.set(userSystemDark);
    document.querySelector("#DarkMode").checked = userSystemDark;
  }
  document.querySelector("#DarkMode").addEventListener("click", toggleDarkMode);
  document.documentElement.classList.toggle('dark', persistentTheme.get());

  persistentTheme.subscribe(value => {
    document.querySelector("#DarkMode").checked = !value;
    document.documentElement.classList.toggle('dark', value);
  });
</script>
