---
import '../styles/global.css';

import { persistentTheme } from '../stores/persistentDarkMode';

import DarkModeToggle from '../components/DarkModeToggle.astro';

import type { MarkdownLayoutProps } from 'astro';

type Props = MarkdownLayoutProps<{
  title: string;
}>;

const frontmatter = Astro.props;
---
<!doctype html>
<html lang="en" class={persistentTheme.get() !== null ? (persistentTheme.get() ? "" : "dark") : ""}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{frontmatter.title}</title>
  </head>
  <body class="mx-auto max-w-3xl bg-gray-100 text-gray-900">
    <header class="bg-white shadow-md px-4 py-8">
      <DarkModeToggle />
      <div class="logo font-mediumitalic text-l float-left">
        <a href="/">psftw.com</a>
      </div>
      <nav class="float-right font-regular flux space-x-4">
        <a href="/about">About</a>
        <a href="/archive">Archive</a>
      </nav>
    </header>
    <main class="px-4 py-6 mx-auto max-w-4xl">
      <slot />
    </main>
    <footer class="m-6 float-right text-xs">© 2013-25 Peter Salvatore</footer>
  </body>
</html>
