---
import '../styles/global.css';

interface Props {
  title: string;
};

const { title } = Astro.props;
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title || 'psftw.com'}</title>
  </head>
  <body class="mx-auto max-w-3xl bg-gray-100 text-gray-900">
    <header class="bg-white shadow-md px-4 py-8">
      <div class="logo font-mediumitalic text-l float-left">
        <a href="/">psftw.com</a>
      </div>
      <nav class="float-right font-regular flux space-x-4">
        <a href="/about">About</a>
        <a href="/archive">Archive</a>
      </nav>
    </header>
    <main class="px-4 py-6 mx-auto max-w-4xl">
      <slot />
    </main>
    <footer class="m-6 float-right text-xs text-gray-400">© 2013-25 Peter Salvatore</footer>
  </body>
</html>
